{% extends base_template | default('tournament/base_tournament.html') %}

{% block content %}
{% block stats_content %}
    {% include "tournament/partials/_tournament_nav.html" %}

        <h2 class="tournament-section-title">ÚTĚCHA - SKUPINY</h2>

        {% for group_name, data in group_data.items() %}
            <details open class="group-details-box">
                <summary class="group-summary-title"><strong>Skupina {{ group_name }}</strong></summary>

                <div id="group-{{ group_name }}" class="group-container-mt">
                    {% include "tournament/partials/_group_content.html" %}
            </div>
        </details>
    {% endfor %}

{% endblock %}
{% endblock %}