{% extends "base_tournament.html" %}
{% block extra_style %}
<style>
   tr.qualifying-row td {
       background-color: #1aff00 !important; }
</style>
{% endblock %}

{% block content %}
    <h2>Skupinová fáze</h2>

    {% for group_name in tournament.group_stage.groups.keys() %}
        <details open>
            <summary><strong> SKUPINA {{ group_name }}</strong></summary>
            <!-- tabulka pro dvou-sloupcové rozvržení -->
            <table>
                <tr>
                    <!--levý sloupec-->
                    <td>

                        <table>

                            <tr>
                                <th>Hráč</th><th>Sety</th><th>Míčky +/-</th><th>Body</th>

                            </tr>
                            {% for p in tournament.group_stage.rank_players(group_name) %}
                               {% set s = p.stats.get('Group', {}) %}
                                    <tr class="{% if loop.index|int <= tournament.advance_per_group|int %}qualifying-row{% endif %}">
                                        <td>{{ p.name }}</td>
                                        <td>{{ s.get('games_win', 0) }}:{{ s.get('games_lost', 0) }}</td>
                                        <td>{{ p.difference_of_score('Group')['Balls'] }}</td>
                                        <td>{{ s.get('points', 0) }}</td>
                                    </tr>
                            {% endfor %}
                        </table>
                        <p style="font-size: 0.8em; color:#555;">
                            V případě shody pořadí určuje: Vzájemný zápas,Sety,Míčky.
                        </p>

                        <h4>Odehrané zápasy</h4>
                        <table border="1">
                            {% for match in tournament.group_stage.group_matches[group_name] %}
                                {% if match.is_finished %}
                                <tr>
                                    <td>{{ match.player_A.name }} - {{ match.player_B.name}}</td>
                                    <td>
                                        {% for game_a,game_b in match.played_sets %}
                                            {{ game_a }}:{{game_b}}{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </td>

                    <!--Pravý sloupec-->
                    <td>
                        {% for match in tournament.group_stage.group_matches[group_name] %}
                            {% if not match.is_finished %}
                                <div class="match-card" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                                    {% if not match.is_in_progress %}
                                        <!-- STAV 1: Zápas je zavřený, ukážeme jen tlačítko pro rozkliknutí -->
                                        <div style="display: flex;justify-content: space-between; align-items: center; width: 100%;">
                                            <strong style="white-space: nowrap;">{{ match.player_A.name }} : {{ match.player_B.name }}</strong>
                                            <form action="/groups" method="POST" style="margin-top: 5px">
                                                <input type="hidden" name="match_id" value="{{ match.match_id}}">
                                                <button type="submit" name="action" value="toggle_progress"><strong>+</strong></button>
                                            </form>
                                        </div>
                                    {% else %}
                                        <!-- STAV 2: Zápas je rozkliknutý, zobrazíme formulář -->
                                        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 10px; border-bottom: 1px solid #eee; padding-bottom: 5px;">
                                            <strong style="white-space: nowrap;">{{ match.player_A.name }} : {{ match.player_B.name }}</strong>
                                            <form action="/groups" method="POST" style="margin: 0;">
                                                <input type="hidden" name="match_id" value="{{ match.match_id }}">
                                                <button type="submit" name="action" value="toggle_progress"><strong>-</strong></button>
                                            </form>
                                        </div>

                                        <form action="/groups" method="POST" style="display: flex; flex-direction: column; align-items: center;">
                                            <input type="hidden" name="match_id" value="{{match.match_id}}">
                                            <div style="display: flex; flex-direction: column; gap: 6px; margin-bottom: 10px;">
                                                {% for i in range(1, match.match_format | int + 1) %}
                                                    <div class="set-container">
                                                        <strong>{{ i }}.set:</strong>
                                                        <input type="number" class="match-input" name="game_a[]" min="0" style="width: 40px;"> :
                                                        <input type="number" class="match-input" name="game_b[]" min="0" style="width: 40px;">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <button type="submit" name="action" value="submit_result">Uložit výsledek</button>
                                        </form>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </details>
    <hr>
    {% endfor %}

{% endblock %}