<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seznam hráčů</title>
</head>
<body>
  <h1>Řízení turnaje</h1>

  <p>Celkem nalezeno hráčů: {{ players|length }}</p>

   <form action="/add_custom_player" method="POST">
      <input type="text" name="player_name" required>
      <button type="submit">Přidat hráče</button>
  </form>
  <form action="/setup_groups" method="POST" style="margin-bottom: 20px; background: #f8f9fa; padding: 10px; border: 1px solid #ddd;">
      <label for="num_groups"><strong>Nastavit počet skupin pro turnaj:</strong></label>
      <select name="num_groups" id="num_groups" style="padding: 5px; margin: 0 10px;">
        <option value="1">Skupina (A)</option>
        <option value="2">Skupina (A,B)</option>
        <option value="3">Skupina (A,B,C)</option>
        <option value="4">Skupina (A,B,C,D)</option>
        <option value="5">Skupina (A,B,C,D,E)</option>
        <option value="6">Skupina (A,B,C,D,E,F)</option>
      </select>
      <button type="submit">Potvrdit a resetovat rozřazení</button>
  </form>


  <ul>
    <h3>Načtění hráči</h3>
    {% for player in players %}
        <li>
          <form action="/delete_player" method="post" style="display:inline; margin-left: 15px;">
            <input type="hidden" name="player_name" value="{{player}}">
            <button type="submit" style="padding: 2px 6px; background-color: #ffffff; color: #ff0000; border: none; cursor: pointer;">
              ❌
            </button>
          </form>

          {{player}}
          <form action="/add_player" method="post" style="display: inline;">
                <input type="hidden" name="player_name" value="{{player}}">

                {% for group_name in tables.keys() %}
                  <button type="submit" name="group" value="{{ group_name }}" style="margin-left: 5px; padding: 2px 8px;">
                    {{group_name}}
                  </button>
                {% endfor %}
          </form>



        </li>
    {% endfor %}
  </ul>



  <hr>
  {% for group_name,player_list in tables.items() %}
      <h2> Tabulka {{group_name}}</h2>
      <ul>
        {% for player in player_list %}
            <li>
              <form action="/delete_player" method="post" style="display:inline; margin-left: 15px;">
                <input type="hidden" name="player_name" value="{{player}}">
                <button type="submit" style="padding: 2px 6px; background-color: #ffffff; color: #ff0000; border: none; cursor: pointer;">
                  ❌
                </button>
              {{player}}
              </form>


            </li>
        {% endfor %}
      </ul>
  {% endfor %}



  <form action="generate_tournament" method="POST">
    <button type="submit" style="padding: 10px 20px; background-color:#28a745; color: white; border: none; font-weight: bold;">
        🎲 Vygenerovat zápasy
      </button>
  </form>

  <hr>
  <h2> Rozpis zápasů</h2>

  {% for group_name, match_list in matches.items() %}
      <h3>Zápasy Skupiny {{group_name}}</h3>
      <ul>
        {% for match in match_list %}
            <li>{{match[0]}} vs {{match[1]}}</li>
        {% else %}
        <li>Zatím žádné zápasy </li>
        {% endfor %}
      </ul>
  {% endfor %}

  <br>
<a href="/">← Zpět na zadání URL</a>
</body>
</html>