{% extends "base_settings.html" %}
{% block content%}

<h1>Základní nastavení</h1>
    <form action="/settings_basic" method="POST" id="wizard_form">
        <fieldset>
            <legend>Základní nastavení</legend>
            <input type="text" name="name" value="{{ wizard.name}}" placeholder="Název turnaje">
            <input type="date" name="date" value="{{ wizard.date}}">
            <select name="tournament_format">
                    {% for key,value in all_formats.items() %}
                        <option value="{{ key }}" {% if wizard.tournament_format == key %}selected {% endif %}>
                        {{ value }}
                    </option>
                    {% endfor %}
            </select>
        </fieldset>
    </form>

{% endblock %}