{% extends "stats/base_stats.html" %}

{% block stats_content %}
    <h2 class="stats-section-title">Historie zápasů</h2>

    <form method="GET" action="/stats/matches" class="stats-search-form">
        <input type="hidden" name="sort_by" value="{{ sort_by }}">
        <input type="hidden" name="order" value="{{ order }}">

        <input type="text" name="q" value="{{ q }}" placeholder="🔍 Hledat hráče, fázi nebo turnaj..."
               hx-get="/stats/matches"
               hx-target="#matches-table-container"
               hx-swap="innerHTML"
               hx-trigger="keyup changed delay:300ms, search"
               hx-include="[name='sort_by'], [name='order']"
               class="stats-search-input">
    </form>

    <div id="matches-table-container">
        {% include "stats/partials/_matches_table.html" %}
    </div>


    <script src="{{ url_for('static', filename='js/rows_details.js') }}?v=1"></script>
{% endblock %}