<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnaj: {{ tournament.name }}</title>

    <!-- Připojení našeho jednotného externího CSS a specifických stylů turnaje -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% block extra_style %}{% endblock %}
</head>
<body>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>