{% extends "base_tournament.html" %}

{% block content %}
    <h2>ÚTĚCHA - SKUPINY</h2>

    {% for group_name, data in group_data.items() %}
        <details open>
            <summary><strong>Skupina {{ group_name }}</strong></summary>

            <!-- Cílový kontejner pro HTMX, který využije náš shared partial -->
            <div id="group-{{ group_name }}">
                {% include "partials/_group_content.html" %}
            </div>
        </details>
        <hr>
    {% endfor %}
{% endblock %}